.style-btn {
    border-color: #ff4081;
}

.border-order{
    border: solid 1px #e2e2e2;
    border-radius: 2%;
}

.border-bt{
    border-bottom: solid 1px #e2e2e2;
}

.scroll-x {
    overflow: auto;
    overflow-x: auto;
    display: flex;
    flex-wrap: nowrap;
}

.full-width {
    width: 100%;
}