<mat-tab-group dynamicHeight name="tabGroup">
  <mat-tab label="รอการเบิก" name="tabWaitWithdrawal">
    <div class="row" name="rowWaitWithdrawal">
      <div class="col-12" *ngIf="waitwithdrawal && waitwithdrawal.length > 0" name="colWaitWithdrawal">
        <div class="border-bt" *ngFor="let item of waitwithdrawal" name="divForWaitWithdrawal">
          <div name="divWaitWithdrawal">
            <div class="row mt-3" name="rowTeamDetail">
              <div class="col-12 col-xs-12 col-sm-6 col-md-6" name="colTeamDetail">
                <h5 class="mb-0" name="textOrderNo">รหัสใบสั่งซื้อ: 110050308564</h5>
                <h5 class="mb-0" name="item.team.teamname">ชื่อทีม: {{item.team.teamname}}</h5>
                <h5 class="mb-0" name="item.team.totalorderamount">รวมออเดอร์: {{item.totalorderamount}}</h5>
              </div>
              <div class="col-12 col-xs-12 col-sm-6 col-md-6 text-right d-none d-xs-none d-sm-block d-md-block"
                name="colBtnWaitWithdrawal">
                <button mat-stroked-button color="accent" (click)="gotoOrderReport(item)" class="style-btn mr-2"
                  name="btnWithdrawalList">รายการเบิก</button>
                <button mat-stroked-button color="accent" class="style-btn" name="btnWithdrawal">ทำการเบิกเเล้ว</button>
              </div>
              <div class="col-12 col-xs-12 col-sm-12 col-md-3 d-block d-xs-block d-sm-none d-md-none"
                name="colBtnWaitWithdrawal2">
                <button mat-stroked-button color="accent" class="style-btn mt-2 full-width"
                  name="btnWithdrawalList2">รายการเบิก</button>
              </div>
              <div class="col-12 col-xs-12 col-sm-12 col-md-3 d-block d-xs-block d-sm-none d-md-none"
                name="colBtnWaitWithdrawal3">
                <button mat-stroked-button color="accent" class="style-btn mt-2 full-width"
                  name="btnWithdrawal2">ทำการเบิกเเล้ว</button>
              </div>
            </div>
            <div class="row mt-2 mb-3 scroll-x" name="rowOrderStaff">
              <div class="col-8 col-sm-6 col-md-4 col-lg-3 ml-3 mt-2 mb-2 border-order" *ngFor="let itm of item.orders"
                name="colOrderStaff">
                <span style="display: block" class="mt-2" name="itm.orderno">รหัสใบสั่งซื้อ: {{itm.orderno}}</span>
                <span style="display: block" name="textName">ชื่อผู้สั่ง:
                  <span class="mr-2" name="itm.customer.firstname">{{itm.customer.firstname}}</span>
                  <span name="itm.customer.lastname">{{itm.customer.lastname}}</span></span>
                <span style="display: block" class="mb-2" name="itm.totalamount">รวม: {{itm.totalamount}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mt-4 text-center" *ngIf="waitwithdrawal && waitwithdrawal.length < 1"
        name="colNoWaitWithdrawal">
        <span name="textNoWaitWithdrawal">ยังไม่มีรายการสั่งซื้อในขณะนี้</span>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="รอการเเพ็ค" name="tabWaitPack">
    <div class="row" name="rowWaitPack"> 
      <div class="col-12" *ngIf="waitpack && waitpack.length > 0" name="colWaitPack">
        <div class="border-bt" *ngFor="let item2 of waitpack" name="divForWaitPack">
          <div name="divWaitPack">
            <div class="row mt-3" name="rowTeamDetail2">
              <div class="col-12 col-xs-12 col-sm-6 col-md-6" name="colTeamDetail2">
                <h5 class="mb-0" name="textOrderNo2">รหัสใบสั่งซื้อ: 110050308564</h5>
                <h5 class="mb-0" name="item2.team.teamname">ชื่อทีม: {{item2.team.teamname}}</h5>
                <h5 class="mb-0" name="item2.totalorderamount">รวมออเดอร์: {{item2.totalorderamount}}</h5>
              </div>
              <div class="col-12 col-xs-12 col-sm-6 col-md-6 text-right d-none d-xs-none d-sm-block d-md-block"
                name="colBtnWaitPack">
                <button mat-stroked-button color="accent" class="style-btn" name="btnPack">เเพ็คสินค้าเเล้ว</button>
              </div>
            </div>
            <div class="row mt-2 mb-3 scroll-x" name="rowOrderStaff2">
              <div class="col-8 col-sm-6 col-md-4 col-lg-3 ml-3 mt-2 mb-2 border-order"
                *ngFor="let itm2 of item2.orders" name="colOrderStaff2">
                <span style="display: block" class="mt-2" name="itm2.orderno">รหัสใบสั่งซื้อ: {{itm2.orderno}}</span>
                <span style="display: block" name="textName2">ชื่อผู้สั่ง:
                  <span class="mr-2" name="itm2.customer.firstname">{{itm2.customer.firstname}}</span>
                  <span name="itm2.customer.lastname">{{itm2.customer.lastname}}</span>
                </span>
                <span style="display: block" class="mb-2" name="itm2.totalamount">รวม: {{itm2.totalamount}}</span>
                <div class="border-top mt-2 min-label-height" *ngIf="label.length > 0" name="divLabel">
                  <span style="display: block" class="mt-2" name="textTrackLabel">เลขที่พัสดุ:
                    {{data[datalength].trackno}}</span>
                  <span style="display: block" name="textOrderNoLabel">รหัสใบสั่งซื้อ:
                    {{data[datalength].orderno}}</span>
                  <span style="display: block" name="textCustomerLabel">ชื่อผู้สั่ง: {{data[datalength].name}}</span>
                  <span style="display: block" class="mb-2" name="textAmountLabel">จำนวนสินค้า:
                    {{data[datalength].totalqty}} ชิ้น</span>
                </div>
                <div class="col-12 border-top mt-2 pt-2 min-label-height text-center" *ngIf="label.length < 1"
                  name="colNoLabel">
                  <span name="textNoLabel">ยังไม่มีใบปะหน้ากล่อง</span>
                </div>
                <mat-paginator [length]="label.length" [pageSizeOptions]="pageSizeOptions" [hidePageSize]="true"
                  class="full-width" (page)="pageEvent = $event;" (click)="page(pageEvent)" name="pagingLabel">
                </mat-paginator>
                <div class="row" name="rowBtnLabel">
                  <div class="col-6 pl-0 pr-0" name="colBtnLabel">
                    <button mat-stroked-button color="accent" class="full-width btn-list-style"
                      name="btnPrint">พิมพ์</button>
                  </div>
                  <div class="col-6 pl-0 pr-0" name="colBtnLabel2">
                    <button mat-stroked-button color="accent" class="full-width btn-list-style" (click)="addBox(itm2,item2)"
                      name="btnAddBox">เพิ่มกล่อง</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mt-4 text-center" *ngIf="waitpack && waitpack.length < 1" name="colNoWaitPack">
        <span name="textNoWaitPack">ยังไม่มีรายการสั่งซื้อในขณะนี้</span>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="รอการจัดส่ง" name="tabWaitShipping">
    <div class="row" name="rowWaitShipping">
      <div class="col-12" *ngIf="waitshipping && waitshipping.length > 0" name="colWaitShipping">
        <div class="border-bt" *ngFor="let item3 of waitshipping" name="divForWaitShipping">
          <div name="divWaitShipping">
            <div class="row mt-3" name="rowTeamDetail3">
              <div class="col-12 col-xs-12 col-sm-6 col-md-6" name="colTeamDetail3">
                <h5 class="mb-0" name="textOrderNo3">รหัสใบสั่งซื้อ: 110050308564</h5>
                <h5 class="mb-0" name="item3.team.teamname">ชื่อทีม: {{item3.team.teamname}}</h5>
                <h5 class="mb-0" name="item3.team.totalorderamount">รวมออเดอร์: {{item3.totalorderamount}}</h5>
              </div>
              <div class="col-12 col-xs-12 col-sm-6 col-md-6 text-right d-none d-xs-none d-sm-block d-md-block"
                name="colBtnWaitShipping">
                <button mat-stroked-button color="accent" class="style-btn" name="btnShipping">จัดส่งเเล้ว</button>
              </div>
            </div>
            <div class="row mt-2 mb-3 scroll-x" name="rowOrderStaff3">
              <div class="col-8 col-sm-6 col-md-4 col-lg-3 ml-3 mt-2 mb-2 border-order"
                *ngFor="let itm3 of item3.orders" name="colOrderStaff3">
                <span style="display: block" class="mt-2" name="itm3.orderno">รหัสใบสั่งซื้อ: {{itm3.orderno}}</span>
                <span style="display: block" name="textName3">ชื่อผู้สั่ง:
                  <span class="mr-2" name="itm3.customer.firstname">{{itm3.customer.firstname}}</span>
                  <span name="itm3.customer.lastname">{{itm3.customer.lastname}}</span>
                </span>
                <span style="display: block" class="mb-2" name="itm3.totalamount">รวม: {{itm3.totalamount}}</span>
                <div class="border-top mt-2 min-label-height" *ngIf="label.length > 0" name="divLabel2">
                  <span style="display: block" class="mt-2" name="textTrackLabel2">เลขที่พัสดุ:
                    {{data[datalength].trackno}}</span>
                  <span style="display: block" name="textOrderNoLabel2">รหัสใบสั่งซื้อ:
                    {{data[datalength].orderno}}</span>
                  <span style="display: block" name="textCustomerLabel2">ชื่อผู้สั่ง: {{data[datalength].name}}</span>
                  <span style="display: block" class="mb-2" name="textAmountLabel2">จำนวนสินค้า:
                    {{data[datalength].totalqty}} ชิ้น</span>
                </div>
                <div class="col-12 border-top mt-2 pt-2 min-label-height text-center" *ngIf="label.length < 1"
                  name="colNoLabel2">
                  <span name="textNoLabel2">ยังไม่มีใบปะหน้ากล่อง</span>
                </div>
                <mat-paginator [length]="label.length" [pageSizeOptions]="pageSizeOptions" [hidePageSize]="true"
                  class="full-width" (page)="pageEvent = $event;" (click)="page(pageEvent)" name="pagingLabel2">
                </mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mt-4 text-center" *ngIf="waitshipping && waitshipping.length < 1" name="colNoWaitShipping">
        <span name="textNoWaitShipping">ยังไม่มีรายการสั่งซื้อในขณะนี้</span>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="เสร็จสิ้น" name="tabComplete">
    <div class="row" name="rowComplete">
      <div class="col-12" *ngIf="complete && complete.length > 0" name="colComplete">
        <div class="border-bt" *ngFor="let item4 of complete" name="divForComplete">
          <div name="divComplete">
            <div class="row mt-3" name="rowTeamDetail4">
              <div class="col-12 col-xs-12 col-sm-6 col-md-6" name="colTeamDetail4">
                <h5 class="mb-0" name="textOrderNo4">รหัสใบสั่งซื้อ: 110050308564</h5>
                <h5 class="mb-0" name="item4.team.teamname">ชื่อทีม: {{item4.team.teamname}}</h5>
                <h5 class="mb-0" name="item4.totalorderamount">รวมออเดอร์: {{item4.totalorderamount}}</h5>
              </div>
            </div>
            <div class="row mt-2 mb-3 scroll-x" name="rowOrderStaff4">
              <div class="col-8 col-sm-6 col-md-4 col-lg-3 ml-3 mt-2 mb-2 border-order"
                *ngFor="let itm4 of item4.orders" name="colOrderStaff4">
                <span style="display: block" class="mt-2" name="itm4.orderno">รหัสใบสั่งซื้อ: {{itm4.orderno}}</span>
                <span style="display: block" name="textName4">ชื่อผู้สั่ง:
                  <span class="mr-2" name="itm4.customer.firstname">{{itm4.customer.firstname}}</span>
                  <span name="itm4.customer.lastname">{{itm4.customer.lastname}}</span>
                </span>
                <span style="display: block" class="mb-2" name="itm4.totalamount">รวม: {{itm4.totalamount}}</span>
                <div class="border-top mt-2 min-label-height" *ngIf="label.length > 0" name="divLabel3">
                  <span style="display: block" class="mt-2" name="textTrackLabel3">เลขที่พัสดุ:
                    {{data[datalength].trackno}}</span>
                  <span style="display: block" name="textOrderNoLabel3">รหัสใบสั่งซื้อ:
                    {{data[datalength].orderno}}</span>
                  <span style="display: block" name="textCustomerLabel3">ชื่อผู้สั่ง: {{data[datalength].name}}</span>
                  <span style="display: block" class="mb-2" name="textAmountLabel3">จำนวนสินค้า:
                    {{data[datalength].totalqty}} ชิ้น</span>
                </div>
                <div class="col-12 border-top mt-2 pt-2 min-label-height text-center" *ngIf="label.length < 1"
                  name="colNoComplete">
                  <span name="textNoLabel3">ยังไม่มีใบปะหน้ากล่อง</span>
                </div>
                <mat-paginator [length]="label.length" [pageSizeOptions]="pageSizeOptions" [hidePageSize]="true"
                  class="full-width" (page)="pageEvent = $event;" (click)="page(pageEvent)" name="pagingLabel3">
                </mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mt-4 text-center" *ngIf="complete && complete.length < 1" name="colNoComplete">
        <span name="textNoComplete">ยังไม่มีรายการสั่งซื้อในขณะนี้</span>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>