::ng-deep .mat-ink-bar {
    position: absolute !important;
    bottom: 0 !important;
    height: 2px !important;
    transition: .5s cubic-bezier(.35,0,.25,1) !important;
}

::ng-deep.mat-dialog-container {
    display: block !important;
    padding: 24px !important;
    border-radius: 4px !important;
    box-sizing: border-box !important;
    overflow: auto !important;
    outline: 0 !important;
    width: 100% !important;
    height: 100% !important;
    min-height: inherit !important;
    max-height: inherit !important;
}

::ng-deep .mat-dialog-content {
    display: block;
    margin: 0 -24px;
    padding: 0 24px;
    max-height: 65vh;
    overflow: hidden !important;
    -webkit-overflow-scrolling: touch;
}