.border-bt {
    border-bottom: solid 1px #e2e2e2;
}

.div-list-style {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.border-btn {
    border-color: #ff4081;
}

.text-overflow {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}