<div class="row">
  <div class="col-12 mt-4 mb-4">
    <h4 class="mt-0">จัดการทีมของสมาชิก</h4>
  </div>
</div>

<mat-tab-group dynamicHeight>
  <mat-tab label="รอการอนุมัติ">
    <div class="row mb-2 border-bt">
      <div class="col-2 mt-3 mb-3"></div>
      <div class="col-3 mt-3 mb-3 text-center">
        <span>ชื่อทีม</span>
      </div>
      <div class="col-4 mt-3 mb-3 text-center">
        <span>รายละเอียดทีม</span>
      </div>
      <div class="col-3 mt-3 mb-3"></div>
    </div>

    <div class="div-list-style">
      <div class="row border-bt mb-2" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
        <div class="col-2 mt-2 mb-2 text-center">
          <span>BOM</span>
        </div>
        <div class="col-3 mt-2 mb-2  text-center">
          <span>BOOMTEAM</span>
        </div>
        <div class="col-4 mt-2 mb-2  text-center">
          <span>หัวทีมใจดี รักเด็ก</span>
        </div>
        <div class="col-3 mt-2 mb-2  text-center">
          <button mat-stroked-button class="mr-1">อนุมัติ</button>
          <button mat-stroked-button>ปฏิเสธ</button>
        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="ผ่านการอนุมัติ">
    <div class="row mb-2 border-bt">
      <div class="col-2 mt-3 mb-3"></div>
      <div class="col-3 mt-3 mb-3 text-center">
        <span>ชื่อทีม</span>
      </div>
      <div class="col-4 mt-3 mb-3 text-center">
        <span>รายละเอียดทีม</span>
      </div>
      <div class="col-3 mt-3 mb-3"></div>
    </div>

    <div class="div-list-style">
      <div class="row border-bt mb-2" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
        <div class="col-2 mt-2 mb-2 text-center">
          <span>BOM</span>
        </div>
        <div class="col-3 mt-2 mb-2  text-center">
          <span>BOOMTEAM</span>
        </div>
        <div class="col-4 mt-2 mb-2  text-center">
          <span>หัวทีมใจดี รักเด็ก</span>
        </div>
        <div class="col-3 mt-2 mb-2  text-center">
          <button mat-stroked-button class="mr-1">อนุมัติ</button>
          <button mat-stroked-button>ปฏิเสธ</button>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>