.border-bt {
    border-bottom: solid 1px #e2e2e2;
}

.div-list-style {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.border-btn {
    border-color: #ff4081;
}

.color-pink{
    color: #ff4081 !important;
}

.text-overflow {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

::ng-deep .mat-ink-bar {
    border-radius: 6px !important;
    position: absolute !important;
    bottom: 0 !important;
    height: 48px !important;
    opacity: 0.3 !important;
    transition: 0.2s cubic-bezier(.34,0,.25,1.3) !important;
}