.border-bt {
    border-bottom: solid 1px #e2e2e2;
}

.div-list-style {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.border-btn {
    border-color: #ff4081;
}

.color-pink{
    color: #ff4081 !important;
}

.text-overflow {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

::ng-deep .mat-ink-bar {
    position: absolute !important;
    bottom: 0 !important;
    height: 2px !important;
    transition: .5s cubic-bezier(.35,0,.25,1) !important;
}