.btn-add-style {
    font-size: 100px;
    color: #ff4081;
}

.div-add-btn {
    border: dashed 5px #e2e2e2;
    height: 154px !important;
    width: 210px !important;
}

.border-list {
    border: solid 1px #e2e2e2;
    border-radius: 2%;
}

.list-style {
    // height: 25vh;
}

.list-add {
    display: flex;
    align-items: center !important; // text-align: center !important;
}

.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cursor {
    cursor: pointer;
}

.style-btn {
    width: 40%;
}

.style-btn-small {
    width: 30% !important;
}

.style-btn-width {
    width: 100% !important;
}

.div-content {
    height: 78vh;
    overflow-y: auto;
    overflow-x: hidden !important;
}

.btn-border-style {
    border-color: #ff4081;
}

.color-oder{
    color: #ff4081 !important;
}
.color-price{
    color: #06b31d  !important;
}
.mg-10{
    margin: 10px !important;
}
.bg-white {
    background-color: white;
}

.princing-item:hover {
    transform: scale(1.05);
}

.princing-item:hover .deco-layer--1 {
    -webkit-transform: translate3d(15px, 0, 0);
    transform: translate3d(15px, 0, 0);
}

.princing-item:hover .deco-layer--2 {
    -webkit-transform: translate3d(-15px, 0, 0);
    transform: translate3d(-15px, 0, 0);
}
// .swal2-popup.swal2-styled.swal2-confirm {
//     border: 1px solid;
//     border-radius: .25em;
//     background: initial;
//      background-color: #3085d6; 
//     color: #ff4081;
//     font-size: 1.0625em;
// }