.btn-add-style {
    font-size: 100px;
    color: #ff4081;
}

.div-add-btn {
    border: dashed 5px #e2e2e2;
    height: 154px !important;
    width: 210px !important;
}

.border-list {
    border: solid 1px #e2e2e2;
    border-radius: 2%;
}

.list-style {
    // height: 25vh;
}

.list-add {
    display: flex;
    align-items: center !important; // text-align: center !important;
}

.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cursor {
    cursor: pointer;
}

.style-btn {
    width: 40%;
}

.style-btn-small {
    width: 30% !important;
}

.style-btn-width {
    width: 100% !important;
}

.div-content{
    height: 78vh;
    overflow-y: auto;
    overflow-x: hidden !important;
}

.btn-border-style {
    border-color: #ff4081;
}

.bg-white{
    background-color: white;
}
