<div class="div-content" name="bigDivInPageOrder-list">
  <div class="row" name="divRowInPageOrder-list">
    <div name="divAddOrder" class="col-12 col-sm-12 col-md-3 mt-3 list-style list-add">
      <div name="divClickOpenModal" class="col-12 text-center pr-0 pl-0 div-add-btn" (click)="openmodal()">
        <span name="spanIconAdd" class="btn-add-style cursor">
          <p name="iconAdd" class="mb-0" style="margin-top: -5px">+</p>
        </span>
      </div>
    </div>

    <div name="divDataOrder" class="col-6 col-sm-6 col-md-3 mt-3 list-style" style="width: 100%"
      *ngFor="let item of dataOrderAll">
      <div name="divInNgfor" class="col-12 border-list  pr-0 pl-0 bg-white">
        <p class="mb-1 text-overflow mt-2 ml-3" name="item.orderno"><span>ออเดอร์: </span> <span
            class="color-oder">{{item.orderno}}</span></p>
        <p class="mb-1 text-overflow ml-3" name="item.customer.firstname"><span>ชื่อ: </span> <span
            class="mr-1">{{item.customer.firstname}}</span>
          <span name="item.customer.lastname">{{item.customer.lastname}}</span></p>
        <p class="mb-1 text-overflow ml-3" name="item.customer.tel"><span>โทร: </span> <span>{{item.customer.tel}}</span></p>
        <p class="mb-1 text-overflow ml-3 mb-3" name="item.totalamount"><span>รวม: </span>
          <span class="color-price">{{item.totalamount | number }} </span>
          <span>บาท</span></p>
        <div class="col-12 text-center">
          <span class="d-none d-sm-none d-md-block" name="spanBtn">
            <button mat-stroked-button color="accent" name="btnEdit" (click)='onClickEdit(item)'
              class="mb-1 mr-2 style-btn">เเก้ไข</button>
            <button mat-stroked-button color="accent" name="btnDelete" (click)="onDelete(item)"
              class="mb-1 style-btn">ลบ</button>
          </span>

          <span class="d-block d-sm-block d-md-none" name="spanBtn2">
            <button mat-stroked-button color="accent" name="btnEdit2" (click)='onClickEdit(item)'
              class="mb-1 mr-2 style-btn-small" style="margin-right: 1px">เเก้ไข</button>
            <button mat-stroked-button color="accent" name="btnDelete2" (click)="onDelete(item)"
              class="mb-1 style-btn-small">ลบ</button>
          </span>
        </div>

      </div>
    </div>

  </div>

</div>

<div class="row mt-4" *ngIf="rolesUser === 'owner'" name="divRowSendOrderForOwner">
  <div class="col-12" name="divColSendOrderForOwner">
    <button class="style-btn-width btn-border-style" name="btnSendOrder" color="accent"
      [disabled]='dataOrderAll.length === 0' mat-stroked-button (click)='sendOrder()'
      style="margin-right: 1px">ส่งใบสั่งซื้อ</button>
  </div>
</div>