.example-full-width {
    width: 100%;
}

.border-around {
    border: 1px solid #e2e2e2 !important;
    overflow-y: auto;
    overflow-x: hidden;
}

.border-top-0 {
    border-top-width: 0px !important;
}

::ng-deep.mat-form-field-infix {
    border-top-width: 0 !important;
}

::ng-deep.mat-dialog-container {
    display: block !important;
    padding: 24px !important;
    border-radius: 4px !important;
    box-sizing: border-box !important;
    overflow: auto !important;
    outline: 0 !important;
    width: 100% !important;
    height: 100% !important;
    min-height: inherit !important;
    max-height: inherit !important;
}