<mat-dialog-content name="mat-dialog-content" class="mat-typography">
  <div name="divOnRow" class="row">
    <div name="divOnCol" class="col-12">
      <form name="formInput" class="example-form">
        <mat-form-field name="mat-form-field" class="example-full-width">
          <span name="spanText" matPrefix>รหัสพัสดุ &nbsp;</span>
          <input type="tel" [(ngModel)]="trackno" name="keyTel" matInput>
        </mat-form-field>
      </form>
    </div>
    <div *ngIf="dataLabel && dataLabel.customer " class="col-12" name="divAddressCustomer">
      <p name="nameCustomer">{{dataLabel.customer.firstname}} {{dataLabel.customer.lastname}}</p>
      <p name="addressCustomer">{{dataLabel.customer.address.houseno}}
        {{dataLabel.customer.address.village}} {{dataLabel.customer.address.street}}
        {{dataLabel.customer.address.subdistrict}} {{dataLabel.customer.address.district}}
        {{dataLabel.customer.address.province}}
        {{dataLabel.customer.address.zipcode}}</p>
    </div>
    <div *ngIf="dataLabel && dataLabel.productall" name="divHaveBorderAroud" class="col-12 border-around "
      style="height: 200px;">
      <div name="divForDetailProduct" class="row mt-3" *ngFor="let item of dataLabel.productall ;let i = index;">
        <div name="divCheckBox" class="col-2 ">
          <mat-checkbox [disabled]="item.qtyAll === null" (change)="selectProduct($event,item,i)" name="nameCheckBox">
          </mat-checkbox>
        </div>
        <div name="nameProduct" class="col-6">
          <p name="product">{{item.name}}</p>
        </div>
        <div name="divQty" class="col-4">
          <form name="formQty" class="example-form border-top-0">
            <mat-form-field name="mat-form-field-qty" class="example-full-width border-top-0">
              <input [disabled]="item.active || item.qtyAll === null" name="keyQty" (ngModelChange)="keyQty($event,i)"
                [(ngModel)]="item.qtyAll === null ? 0 : item.qtyAll ? item.qtyAll : item.qty" matInput
                placeholder="กรอกจำนวน">
            </mat-form-field>
          </form>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end" name="mat-dialog-action">
  <button mat-button mat-dialog-close name="btnCancel">ยกเลิก</button>
  <button mat-button [mat-dialog-close]="true" name="btnConfrim" [disabled]="!trackno || this.chkProduck === false"
    (click)="confirmLabel()" cdkFocusInitial>ยืนยัน</button>
</mat-dialog-actions>