.img-size {
    height: 200px;
    cursor: pointer;
}

.full-input {
    width: 100%;
}

.icon-add {
    color: gray;
    transform: scale(5);
    cursor: pointer;
}

// mat-card {
//     cursor: pointer;
// }

.img-item-size {
    object-fit: cover;
    height: 200px;
}