.example-full-width {
    width: 100%;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.heigth-textarea {
    height: 12vw !important;
}

.curser-pointer {
    cursor: pointer;
}