<mat-toolbar style="background-color: white;border-bottom: solid 1px  #e2e2e2">
  <mat-toolbar-row class="container">
    <img class="app-logo cursor" (click)="clickToHome()"
      src="https://res.cloudinary.com/dyiuidzsc/image/upload/v1548991271/Rabu%20Rabu/perfect%20lips/LOGO-RABU.png">
    <span class="example-spacer"></span>
    <!-- <span *ngIf="userAuth">
      <mat-icon class="example-icon">notifications</mat-icon>
    </span> -->
    <span class="profile " *ngIf="!userAuth">
      <span class="user-name" (click)="onLogin()">เข้าสู่ระบบ</span>
      <span class="user-name">/</span>
      <span class="user-name" (click)="onRegister()">สมัครสมาชิก</span>
    </span>
    <span class="profile" *ngIf="userAuth" [matMenuTriggerFor]="profile">
      <img src="https://res.cloudinary.com/dyiuidzsc/image/upload/v1548908205/web-sharing/no-image-user.jpg"
        class="img">
      <span class="user-name">{{userAuth.username}}</span>
    </span>
    <mat-menu #profile="matMenu">
      <button name="btn-logout" mat-menu-item (click)="onLogout()">
        <mat-icon>power_settings_new</mat-icon>
        <span>ออกจากระบบ</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>