<!-- <div class="invoice"
     *ngFor="let invoice of invoiceIds; let i = index">
  <h1>Invoice Num. {{ invoice }}</h1>
  Amount: {{ (invoiceDetails[i] | async)?.amount }}
</div> -->
<div class="row">
  <div class="col-12">
    <p>นายณัฐพล ใจดี</p>
  </div>
  <div class="col-12">
    <p>หอปิยะมิตร</p>
  </div>
  <div class="col-12">
    <p>ถนนพหลโยธิน 52</p>
  </div>
  <div class="col-12">
    <p>ต.สมเด็จเจริญ อ.หนองปรือ จ.กาญจนบุรี 71220</p>
  </div>
  <div class="col-12">
    <p>Pinkcherry Cherry</p>
  </div>
  <div class="col-12">
    <p>โทร 086-1937326</p>
  </div>
  <div class="col-12">
    <p>โอนแล้ว</p>
  </div>
</div>