<mat-dialog-content class="mat-typography">
  <div class="row">
    <div class="col-12 col-md-3 text-center" *ngIf="dataUser && dataUser.profileImageURL">
      <img src="{{dataUser.profileImageURL}}" alt="">
    </div>
    <div class="col-12 col-md-9">
      <h2 *ngIf="dataUser && dataUser.displayname">{{dataUser.displayname}}</h2>
      <p *ngIf="dataUser && dataUser.email">{{dataUser.email}}</p>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <mat-tab-group dynamicHeight>
        <mat-tab label="ประวัติการสั่งซื้อ">
          <div class="row">
            <div class="col-12">
              <div class="mt-4" *ngIf="dataHistory && dataHistory.length === 0">
                <p class="text-center no-data">ไม่มีประวัติการสั่งซื้อ</p>
              </div>
              <div class="table-responsive mt-2" *ngIf="dataHistory && dataHistory.length > 0">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col" width="100px">วันที่</th>
                      <th scope="col" width="150px">หมายเลขออเดอร์</th>
                      <th scope="col" width="100px">ราคารวม</th>
                      <th scope="col" width="200px">ชื่อผู้สั่งซื้อสินค้า</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of dataHistory">
                      <th scope="row">{{item.created |  date :'MMM d, y' }}</th>
                      <td>{{item.orderno}}</td>
                      <td>{{item.totalamount | number}}</td>
                      <td>{{item.customer.firstname}} {{item.customer.lastname}}</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="ยอดขายประจำสัปดาห์">
          <div class="row">
            <div class="col-12">
              <chart [type]="typeChart" [data]="dataChart" [options]="optionsChart" style="height: 300px;"></chart>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="สินค้าขายดี">
          <div class="row">
            <div class="col-12">
              <chart [type]="typeChartPie" [data]="dataChartPie" [options]="optionsChartPie" style="height: 300px;">
              </chart>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</mat-dialog-content>