// .icon-add-product {
//     font-size: 50px;
//     height: 100%;
//     width: 100%;
//     position: relative;
//     bottom: 10px;
// }

mat-card {
    cursor: pointer;
}

.img-size {
    object-fit: cover;
    height: 200px;
}