<!-- The content below is only a placeholder and can be replaced. -->
<mat-sidenav-container fullscreen>
  <app-header-toolbar *ngIf="!(currentPage === '/login' || currentPage === '/register' || currentPage === '/')"></app-header-toolbar>
  <mat-sidenav position="end" #appDrawer class="sidenav" [fixedInViewport]="true" mode="{{mode}}" opened="{{ opened }}"
    style="background-color:rgb(250, 250, 250)">
    <app-side-bar></app-side-bar>
  </mat-sidenav>
  <div [ngClass]="!(currentPage === '/login' || currentPage === '/register' || currentPage === '/') ? 'container': ''">
    <router-outlet></router-outlet>
  </div>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#ff9558" type="ball-atom">
    <p style="font-size: 14px; color: white; margin-top: 14px;">กำลังโหลด...</p>
  </ngx-spinner>
</mat-sidenav-container>
<!-- <footer>
  <div class="row mt-5">
    <div class="col-12 text-center">
      <small color="gray">เวอร์ชั่นปัจจุบัน : 1.0</small>
    </div>
  </div>
</footer> -->

