<div class="row pt-2 pb-2" style="background-color: white;border-bottom: solid 1px  #e2e2e2">
  <div class="col-12 text-center">
    <!-- <img src="https://res.cloudinary.com/dyiuidzsc/image/upload/v1548908205/web-sharing/no-image-user.jpg"
      class="img-profile"> -->
    <img src="./../../../assets/images/jigglypuff.png" class="img-profile">
  </div>
  <div class="col-12 text-center" *ngIf="userAuth && userAuth.displayname">
    <p class="mb-0">{{userAuth.displayname}}</p>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <mat-nav-list class="pt-0" *ngIf="userAuth && userAuth.roles  && userAuth.roles.length > 0">
      <a mat-list-item (click)="onOrderList();sidenavService.closeNav();"
        *ngIf="userAuth.roles[0] === 'staff' || userAuth.roles[0] === 'owner'">
        <img src="./../../../assets/images/shopping-bag.png" class="img-list">
        <span class="ml-3">การขาย</span>
      </a>
      <a mat-list-item (click)="onManageMember();sidenavService.closeNav();"
        *ngIf="userAuth.roles[0] === 'staff' || userAuth.roles[0] === 'owner' || userAuth.roles[0] === 'user'">
        <img src="./../../../assets/images/work-team.png" class="img-list">
        <span class="ml-3">จัดสมาชิก</span>
      </a>
      <!-- <a mat-list-item (click)="onGraph();sidenavService.closeNav();" *ngIf="userAuth.roles[0] === 'admin'">
        <img src="./../../../assets/images/list.png" class="img-list">
        <span class="ml-3">ยอดรวมการขาย</span>
      </a> -->
      <a mat-list-item (click)="onMonitor();sidenavService.closeNav();"
        *ngIf="userAuth.roles[0] === 'staff' || userAuth.roles[0] === 'owner' || userAuth.roles[0] === 'admin'">
        <img src="./../../../assets/images/list.png" class="img-list">
        <span class="ml-3">จัดการรายการขาย</span>
      </a>
      <a mat-list-item (click)="onManageTeam();sidenavService.closeNav();" *ngIf="userAuth.roles[0] === 'admin'">
        <img src="./../../../assets/images/logout.png" class="img-list">
        <span class="ml-3">จัดการทีม</span>
      </a>
      <a mat-list-item (click)="onLogout();sidenavService.closeNav();">
        <img src="./../../../assets/images/logout.png" class="img-list">
        <span class="ml-3">ออกจากระบบ</span>
      </a>
    </mat-nav-list>
  </div>
</div>