.img-profile {
    width: 80px;
    border-radius: 100%;
}

.center {
    display: flex !important;
    align-items: center !important;
    width: 100% !important;
}

.font-name {
    font-size: 15px;
}

.img-list {
    width: 15px;
}