.card-height {
    height: 190px !important;
}

.icon {
    font-size: 80px !important;
    color: #ff4081;
}

.example-full-width {
    width: 100%;
}

.border-add {
    border: solid 1px;
    border-radius: 50%;
    height: 100%;
    width: 50%
}

.font-size {
    font-size: 4vw;
}

.border-num {
    border: 1px solid;
}

// ::ng-deep .mat-form-field-underline {
//     display: none;
// }

.font-input {
    font-size: 26px;
    text-align: center;
}

.icon-position {
    position: absolute;
    right: 0;
}

.ture {
    color: green;
}

.false {
    color: red;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

::ng-deep.mat-dialog-container {
    display: block !important;
    padding: 24px !important;
    border-radius: 4px !important;
    box-sizing: border-box !important;
    overflow: auto !important;
    outline: 0 !important;
    width: 100% !important;
    height: 100% !important;
    min-height: inherit !important;
    max-height: inherit !important;
}