<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup" *ngFor="let item of data.option">
      <ng-template matStepLabel>{{item.name}}</ng-template>
      <div class="row">
        <div class="col-3 mb-3" *ngFor="let item of item.value" (click)="selectProduct(item)">
          <mat-card class="example-card card-height">
            <div class="text-center">
              <i class="material-icons icon" *ngIf="selectOption === item">
                check_circle_outline
              </i>
            </div>

            <mat-card-content>
              <p>
                {{item}}
              </p>
            </mat-card-content>

          </mat-card>
        </div>
      </div>
      <div class="col-12 text-right">
        <button mat-button matStepperNext (click)="next()">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>ระบุจำนวน</ng-template>
      <div class="row">
        <div class="col-4 text-right">
          <button mat-button class="border-add"><span class="font-size">-</span></button>
        </div>
        <div class="col-4 border-num text-center">
          <mat-form-field class="example-full-width">
            <input class="font-input" none-line matInput [(ngModel)]="qty" formControlName="secondCtrl" required>
          </mat-form-field>
        </div>
        <div class="col-4 text-left">
          <button mat-button class="border-add"> <span class="font-size">+</span> </button>
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-left">
          <button mat-button matStepperPrevious>Back</button>

        </div>
        <div class="col-6 text-right">
          <button mat-button (click)="done()">Next</button>

        </div>
      </div>
    </form>
  </mat-step>

</mat-horizontal-stepper>