<div class="row" style="display: flex;align-items: center;height: 90vh;" name="rowBtn">
    <div class="col-6 col-md-6 text-right" name="colBtn">
        <button mat-stroked-button color="accent" (click)="openDialog()" class="style-btn"
            name="btnCreate">เริ่มธุรกิจ</button>
    </div>
    <div class="col-6 col-md-6 text-left" name="colBtn2">
        <button mat-stroked-button color="accent" (click)="createmember()" class="style-btn"
            name="btnJoin">เข้าร่วมธุรกิจ</button>
    </div>
</div>