.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.sty-btn {
    border-color: #ff4081;
}

.uppercase {
    text-transform: uppercase !important;
}

.heigth-textarea {
    height: 12vw !important;
}

.mat-button[disabled],
.mat-flat-button[disabled],
.mat-icon-button[disabled],
.mat-stroked-button[disabled] {
    cursor: default;
    border-color: rgba(0,0,0,.12);
}