.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.sty-btn {
    border-color: #ff4081;
}

.uppercase {
    text-transform: uppercase !important;
}

.heigth-textarea {
    height: 12vw !important;
}

.mat-button[disabled],
.mat-flat-button[disabled],
.mat-icon-button[disabled],
.mat-stroked-button[disabled] {
    cursor: default;
    border-color: rgba(0,0,0,.12);
}

::ng-deep.mat-dialog-container {
    display: block !important;
    padding: 24px !important;
    border-radius: 4px !important;
    box-sizing: border-box !important;
    overflow: auto !important;
    outline: 0 !important;
    width: 100% !important;
    height: 100% !important;
    min-height: inherit !important;
    max-height: inherit !important;
}