.flex {
    height: 100%;
    display: flex;
    align-items: flex-end
}

.break {
    word-break: break-all !important;
}

.border-card {
    border: solid 1px #e2e2e2;
}

.position-check {
    position: absolute;
    right: 6px;
    bottom: 6px;
    color: green;
}

.cursor-pointer {
    cursor: pointer;
}

.no-data {
    color: #ccbebe !important;
}
.ellipsis{
    white-space: nowrap !important; 
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

::ng-deep .mat-dialog-container {
    overflow: hidden;
}

.overflow-team {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 300px;
}