.border-bottom {
    border-bottom: 1px solid rgb(197, 197, 197) !important;
}

.no-data {
    color: #ccbebe !important;
}

.ellipsis {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.font-size {
    font-size: 2vw;
}
.no-padding{
    padding: 0px !important;
}
.cuser-poiter{
    cursor: pointer;
}

::ng-deep .mat-ink-bar {
    position: absolute !important;
    bottom: 0 !important;
    height: 2px !important;
    transition: .5s cubic-bezier(.35,0,.25,1) !important;
}

.text-wrap {
    word-wrap: break-word;
}
