.border-top {
    border-top: 1px solid #e2e2e2 !important;
}

.border-right {
    border-right: 1px solid #e2e2e2 !important;
}

.border-bt {
    border-bottom: 1px solid #e2e2e2 !important;
}

.border-all {
    border-top: 1px solid #e2e2e2 !important;
    border-bottom: 1px solid #e2e2e2 !important;
    border-left: 1px solid #e2e2e2 !important;
}

.mg-o {
    margin: 5px !important;
}

.mg-Left {
    margin-left: 17px !important;
}

.text-epils {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// .table td,
// .table th {
//     padding: .75rem;
//     vertical-align: top;
//     border-top: none;
// }