<h1 name="headNameteam" *ngIf="dataReport && dataReport.teamname"> ทีม {{dataReport.teamname}} </h1>
<!-- <div class="row mt-3 border-all" name="divReporstAll" *ngIf="dataReport && dataReport.reportall">
  <div name="divNameProduct" class="col-6 border-right border-bt text-center">
    <p name="nameProduct" style="font-weight: bold;" class="mt-2 mb-2">ชื่อสินค้า</p>
  </div>
  <div name="divQtyProduct" class="col-3 border-right border-bt text-center">
    <p name="qtyProduct" style="font-weight: bold;" class="mt-2 mb-2">จำนวน</p>
  </div>
  <div name="namePriceProduct" class="col-3 border-bt border-right text-center">
    <p name="priceProduct" style="font-weight: bold;" class="mt-2 mb-2">ราคา(ต่อหน่วย)</p>
  </div>
  <div name="divForReportAll" class="col-12" *ngFor="let item of dataReport.reportall.items">
    <div name="divRowReportAll" class="row">
      <div name="divReportName" class="col-6 border-right text-center">
        <p name="reprotName" class="mt-2 mb-2 mg-o ">{{item.name}}</p>
      </div>
      <div name="divReportQty" class="col-3 border-right text-center">
        <p name="reportQty" class="mt-2 mb-2 mg-o ">{{item.qty}} </p>
      </div>
      <div name="divReporthPrice" class="col-3 border-right text-center">
        <p name="reportPrice" class="mt-2 mb-2 mg-o ">{{item.price }} </p>
      </div>
    </div>
  </div>
  <div name="divtextSum" class="col-6 border-right border-top text-center">
    <p name="textSum" style="font-weight: bold;" class="mt-2 mb-2">รวม</p>
  </div>
  <div name="divTextQty" class="col-3 border-right border-top text-center">
    <p name="textQty" style="font-weight: bold;" class="mt-2 mb-2">{{dataReport.reportall.totalqty | number}}</p>
  </div>
  <div name="divTextTotalPrice" class="col-3  border-top border-right text-center">
    <p name="totoPrice" style="font-weight: bold;" class="mt-2 mb-2">{{dataReport.reportall.totalprice | number}}</p>
  </div>
</div>
<div name="divForTextReportDetail" class="row mt-3 border-all border-right mb-3"
  *ngIf="dataReport && dataReport.reportDetail">
  <div name="divTextCustomer" class="col-4 ">
    <p name="textCustomer" class="mt-2 mb-2">ผู้รับ</p>
  </div>
  <div name="divTextDetailCustomer" class="col-4 ">
    <p name="textDetailCustomer" class="mt-2 mb-2">รายละเอียด</p>
  </div>
  <div name="divTextQtyCustomer" class="col-4 ">
    <p name="textQtyCustomer" class="mt-2 mb-2">จำนวน</p>
  </div>
  <div name="divForReportDetail" class="col-12 border-top" *ngFor="let item of dataReport.reportDetail">
    <div name="divRowReportDetail" class="row">
      <div name="divNameCustomer" class="col-4">
        <p name="nameCustomer" class="mt-2 mb-2 mg-o ">{{item.customer.firstname}} {{item.customer.lastname}}</p>
      </div>
      <div name="divNameProductOption" class="col-8">
        <div name="divForProductOption" class="row" *ngFor="let itm of item.items">
          <div name="divNameItm" class="col-12">
            <p name="nameItm" class="mt-2 mb-2 mg-o ">-{{itm.name}}</p>
          </div>
          <div name="divForValue" class="col-12" *ngFor="let it of itm.value">
            <div name="divRowValue" class="row">
              <div name="divNameValue" class="col-6">
                <p name="nameValue" class="mt-2 mb-2 mg-o mg-Left">{{it.name}}</p>
              </div>
              <div name="divQtyValue" class="col-6">
                <p name="qtyValue" class="mt-2 mb-2 mg-o mg-Left"> <span>{{it.qty}}</span> </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div> -->
<h3>ตารางรวมยอด</h3>

<div class="table-responsive" *ngIf="dataReport && dataReport.reportall">
  <table class="table">
    <thead>
      <tr>
        <th scope="col" width="120">ชื่อสินค้า</th>
        <th scope="col" width="120">จำนวน</th>
        <th scope="col" width="120">ราคา(ต่อหน่วย)</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of dataReport.reportall.items">
      <tr>
        <td scope="row">{{item.name}}
          <div *ngFor="let itm of item.type">
            {{itm.name}}
          </div>
        </td>
        <td>
      <tr style="border-top: none;">
        <td style="border-top: none;"></td>
      </tr>
      <!-- <div>123</div> -->
      <div *ngFor="let itm of item.type">
        {{itm.qty}}
      </div>
      </td>
      <td>{{item.price}}</td>
      </tr>
    </tbody>
    <tfoot>
      <th scope="col" width="120">รวม</th>
      <th scope="col" width="120">{{dataReport.reportall.totalqty}}</th>
      <th scope="col" width="120">{{dataReport.reportall.totalprice | number}}</th>

    </tfoot>
  </table>
</div>

<h3>ตารางลูกค้า</h3>

<div class="table-responsive mt-4" *ngIf="dataReport && dataReport.reportDetail">
  <table class="table">
    <thead>
      <tr>
        <th scope="col" width="120">ผู้รับ</th>
        <th scope="col" width="120">รายละเอียด</th>
        <th scope="col" width="120">จำนวน</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of dataReport.reportDetail">
      <tr>
        <td scope="row">{{item.customer.firstname}} {{item.customer.lastname}}
        </td>
        <td *ngFor="let itm of item.items">
          -{{itm.name}}
          <!-- <div>123</div> -->
          <div class="ml-3" *ngFor="let it of itm.value">
            {{it.name}}
          </div>
        </td>
        <td *ngFor="let itm of item.items">
      <tr style="border-top: none;">
        <td style="border-top: none;"></td>
      </tr>
      <div *ngFor="let it of itm.value">
        {{it.qty}}
      </div>
      </td>
      </tr>
    </tbody>

  </table>
</div>
<div class="row mb-3" name="divRowBtn">
  <div name="divColBtn" class="col-12 text-right">
    <button name="btnBack" mat-stroked-button color="accent" (click)="goBack()">ย้อนกลับ</button>
    <button name="btnPrint" mat-stroked-button color="accent" class="ml-2">พิมพ์ใบเบิกสินค้า</button>
  </div>
</div>