<h1 *ngIf="dataReport && dataReport.teamname"> {{dataReport.teamname}} </h1>


<div class="row mt-3 border-all" *ngIf="dataReport && dataReport.reportall">
  <div class="col-6 border-right border-bt text-center">
    <p style="font-weight: bold;" class="mt-2 mb-2">ชื่อสินค้า</p>
  </div>
  <div class="col-3 border-right border-bt text-center">
    <p style="font-weight: bold;" class="mt-2 mb-2">จำนวน</p>
  </div>
  <div class="col-3 border-bt border-right text-center">
    <p style="font-weight: bold;" class="mt-2 mb-2">ราคา(ต่อหน่วย)</p>
  </div>
  <div class="col-12" *ngFor="let item of dataReport.reportall.items">
    <div class="row">
      <div class="col-6 border-right text-center">
        <p class="mt-2 mb-2 mg-o ">{{item.name}}</p>
      </div>
      <div class="col-3 border-right text-center">
        <p class="mt-2 mb-2 mg-o ">{{item.qty}} </p>
      </div>
      <div class="col-3 border-right text-center">
        <p class="mt-2 mb-2 mg-o ">{{item.price }} </p>
      </div>
    </div>

  </div>

  <div class="col-6 border-right border-top text-center">
    <p style="font-weight: bold;" class="mt-2 mb-2">รวม</p>
  </div>
  <div class="col-3 border-right border-top text-center">
    <p style="font-weight: bold;" class="mt-2 mb-2">{{dataReport.reportall.totalqty | number}}</p>
  </div>
  <div class="col-3  border-top border-right text-center">
    <p style="font-weight: bold;" class="mt-2 mb-2">{{dataReport.reportall.totalprice | number}}</p>
  </div>
</div>

<div class="row mt-3 border-all border-right mb-3" *ngIf="dataReport && dataReport.reportDetail">
  <div class="col-4 ">
    <p class="mt-2 mb-2">ผู้รับ</p>
  </div>
  <div class="col-4 ">
    <p class="mt-2 mb-2">รายละเอียด</p>
  </div>
  <div class="col-4 ">
    <p class="mt-2 mb-2">จำนวน</p>
  </div>
  <div class="col-12 border-top" *ngFor="let item of dataReport.reportDetail">
    <div class="row">
      <div class="col-4">
        <p class="mt-2 mb-2 mg-o ">{{item.customer.firstname}} {{item.customer.lastname}}</p>
      </div>
      <div class="col-8">
        <div class="row" *ngFor="let itm of item.items">
          <div class="col-12">
            <p class="mt-2 mb-2 mg-o ">-{{itm.name}}</p>
          </div>
          <div class="col-12" *ngFor="let it of itm.value">
            <div class="row">
              <div class="col-6">
                <p class="mt-2 mb-2 mg-o mg-Left">{{it.name}}</p>
              </div>
              <div class="col-6">
                <p class="mt-2 mb-2 mg-o mg-Left"> <span>{{it.qty}}</span> </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
<div class="row mb-3">
  <div class="col-12 text-right">
    <button mat-stroked-button color="accent" (click)="goBack()">ย้อนกลับ</button>
    <button mat-stroked-button color="accent" class="ml-2">พิมพ์ใบเบิกสินค้า</button>
  </div>
</div>